body{
  margin: 0;
  padding: 0;
  padding-bottom: 56px;
}

.navbar{
  display: flex;
  align-items:flex-end;
  background-color: white;
  border-bottom: 1px solid gray;
  position: sticky;
  width: 100%;
  top:0px;
}

.navbar__title{
  display: flex;
  align-items: center;
  font-size: 30px;
  height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar__title i{
  margin-left: 20px;
}

.navbar__number{
  margin: 0;
  margin-left: 20px;
  
}

.navbar__sentence{
  display: flex;
  justify-content: left;
  font-size: 13px;
  margin-left: 20px;
  padding-top: 10px;
}

.foodBox{
  padding: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foodPictue{
  height: 250px;
  width: 100%;
  border: 1px solid white;
  background-repeat: no-repeat;
  background-size: cover;
}


.star-rating {
  display:flex;
  flex-direction: row-reverse;
  font-size:40px;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}
/* 
.star-rating :checked ~ label {
  color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
} */


.bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid rgba(128, 128, 128, 0.35);
}

.bottom__icon{
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}